.GenPinApp {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bodyContainer{
  background-color: #f2f2f2;
  text-align:center;
}
.generatePinContainer{
  padding-top:20%;
  padding-bottom:20%;
  width:40%;
  text-align:center;
  background-color: #f2f2f2;
}
.savedPinContainer{
  padding-top:20px;
  padding-bottom:20%;
  width:70%;
  height:100%;
  text-align:center;
}

.tabsRow{
  margin-top:3%;
  border-bottom: 0.5px solid gray;
}

.activeTab{
  border-bottom: 2px solid #0066ff;
}

.activeSavedTab{
  border-bottom: 2px solid #0066ff;
  margin-left:5px !important;
  cursor:pointer;
}
.savedTabClass{
  margin-left:5px !important;
  cursor:pointer;
}

.generateTabClass{
  cursor:pointer;
}

::placeholder {
  color: #d9d9d9;
  opacity: 1; 
}

:-ms-input-placeholder {
  color: #d9d9d9;
}

::-ms-input-placeholder {
  color: #d9d9d9;
}
.pinField{
width:100%;
padding:4px 3px;
margin:5px;
color: #282c34;
border: solid 1px #cccccc;
text-align: center;
}

.pinFieldCol{
  padding:0 5px;
}

.pinGenCol{
  padding:0px 3px;
}

.generateButtonCol{
  padding-left:0;
  padding-right:30px;
}

.saveButtonCol{
  padding-left: 20px;
  padding-right:6px;
}

.deleteButton{
width:100%;
padding:0;
margin:6px;
color: white;
background-color: red;
border-radius: 5px;
font-weight:bold;
}

.generateButton{
  width: 100%;
  padding: 3px 10px;
  margin:10px;
  background-color: white;
  color: #0066ff;
  border: solid 1px #0066ff;
  border-radius: 3px;
  font-weight:bold;
  }

.saveButton{
  width: 100%;
  padding:3px 10px;
  margin:10px;
  background-color: #0066ff;
  color: white;
  border: solid 1px white;
  border-radius: 3px;
  font-weight:bold;
}
.emptyMessage{
  color: red;
  font-size:20px;
}

.emptyMsgContainer{
  text-align:center;
}
